@charset "UTF-8";
html {
    background-color: #949398;
}
body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}

.profile {
    margin: 0 auto;
    text-align: center;
}

.profile img{
    width: 150px;
    height: 150px;
    border-radius: 30px;

}

.profile :hover {
    filter: saturate(40);
    filter: hue-rotate(180deg);
    transform:rotate(180deg);
}

.profile :active {
    filter: saturate(40);
    border-radius: 75px;
    animation: 何jbもの 0.177777s linear infinite;
    width: 1500px;
}

.profile:active ~ .linklist .linkpic{   
    filter: saturate(40);
    animation: 何jbもの 0.75s ease-in-out infinite;
}

@keyframes 何jbもの {
    0% { filter: hue-rotate(360deg); transform:rotate(0deg);}
    100% { filter: hue-rotate(0deg); transform:rotate(360deg);}
}

.linklist {
    display: flex;
    flex-wrap: wrap;
    
    width: 90%;
    margin: 0 auto;

    min-width: 300px;
    max-width: 450px;
    padding: 100px;
}

.link {
    box-sizing: border-box;
    margin-left: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.linkpic{
    background-color: #F4DF4EFF;
    border-radius: 10px;

    margin: 0 auto;
    padding: 20px;
}

.pochi {
    transition: background-color .5s;
}

.pochi :hover{
    background-color: #ffee82;
    transform:rotate(7deg);
}

.linktext{
    color: #F4DF4E;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    margin: 0 auto;
}