@charset "UTF-8";
html {
    background-color: #557571;
}
body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
}

img {
    border-radius: 20px;
}

.profile {
    
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    height: 150px;
}
    
.linklist {
    display: flex;
    flex-wrap: wrap;
    
    width: 90%;
    margin: 0 auto;

    min-width: 300px;
    max-width: 600px;
}

.link {
    box-sizing: border-box;
    margin-left: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.linkpic{
    background-color: #d49a89;
    border-radius: 10px;

    margin: 0 auto;
    padding: 20px;
}

a :hover{
    background-color: #f0b2b2;
    padding: 21px;
}

.linktext{
    color: #d49a89;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    margin: 0 auto;
}

.spreadsheets{
    text-align: center;
}

.voltaic{
    color: #ffffff;
    border-radius: 15px;
    height: 520px;
    width: 304px;
}

.spreadsheetstext{
    transform:scale(1);
    color: #d49a89;
    height: 20px;
    width: 1000px;
    margin: 0 auto;
}