@charset "UTF-8";

header {
    padding: 30px;
}
body {
    font-family: 
      "Helvetica Neue",
      "Arial",
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      "Meiryo",
      "sans-serif";
}

.profile {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.profile img{
    width: 150px;
    height: 150px;
    border-radius: 30px;

}

.profile :hover {
    filter: saturate(40);
    filter: hue-rotate(180deg);
    transform:rotate(180deg);
}

.profile:active {
    width: 100%;
}
.profile :active {
    filter: drop-shadow(0 0 100px rgb(0, 0, 0));
    animation: 何jbもの 10s ease-in-out infinite;
    width: 95%;
    max-width: 1000px;
}

.profile:active ~ .linklist .linkpic{   
    animation: 何jbもの 0.2s linear infinite;
}

@keyframes 何jbもの {
    0% { filter: hue-rotate(360deg); filter: brightness(0); transform:rotate(0deg);}
    25% { filter: hue-rotate(270deg); filter: brightness(5); transform:rotate(360deg);}
    50% { filter: hue-rotate(180deg); filter: brightness(0); transform:rotate(0deg);}
    75% { filter: hue-rotate(90deg); filter: brightness(5); transform:rotate(360deg);}
    100% { filter: hue-rotate(0deg); filter: brightness(0); transform:rotate(0deg);}
}

.linklist {
    display: flex;
    flex-wrap: wrap;
    
    width: 90%;
    margin: 0 auto;

    min-width: 300px;
    max-width: 450px;
    padding-top: 100px;
}

.link {
    box-sizing: border-box;
    margin-left: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.linkpic{
    background-color: #FF729F;
    border-radius: 10px;

    margin: 0 auto;
    padding: 20px;
}

.pochi {
    transition: background-color .5s;
}

.pochi :hover{
    background-color: #FF0A58;
    transform:rotate(7deg);
}

.linktext{
    color: #FF0A58;
    border-radius: 5px;
    height: 20px;
    width: 100px;
    margin: 0 auto;
}

.dasoku{
    color: rgb(255, 255, 255);
    font-size: 10px;
}